
@model IEnumerable<Payroll.Domain.Entities.Salary>

@{
    ViewData["Title"] = "Salary List";
}

<div class="container">
    <div class="row">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <div class="col-md-4">
            <a asp-action="Create" class="btn btn-primary mb-3">Add Salary</a>
        </div>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Employee Name</th>
                    <th>Salary Amount</th>
                    <th>Bonus</th>
                    <th>Total Salary</th>
                    <th>Payment Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1;
                }
                @foreach (var salary in Model)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@($"{salary.Employee.ApplicationUser.FirstName} {salary.Employee.ApplicationUser.LastName}")</td>
                        <td>@salary.SalaryAmount</td>
                        <td>@salary.Bonus</td>
                        <td>@salary.TotalSalary</td>
                        <td>@salary.PaymentDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@salary.Id" class="btn btn-outline-secondary">Edit</a>
                            <a asp-action="Details" asp-route-id="@salary.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@salary.Id" class="btn btn-danger"
                               onclick="return confirm('Are you sure you want to delete this salary record?')">Delete</a>
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>
